.contact {
    min-height: 100vh;
    display: flex;
}

.contact > * {
    margin: auto;
}

.contact-card {
    justify-content: space-between;
    width: 1380px;
    height: 540px;
    padding: 20px;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.details {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.references {
    width: 48%;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 10px;
}

.contact-form > .button-container > button {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background: #3657fb;
    color: #ffffff;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
}