<div class="contact">
    <mat-card class="contact-card" appearance="outlined">
        <mat-card-content>Registro de contactos</mat-card-content>
        <mat-divider></mat-divider>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmitContactForm()" class="contact-form">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Notas</mat-label>
                <input matInput formControlName="notes">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de cumpleaños</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthday">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (contactForm.get('birthday')?.invalid && contactForm.get('birthday')?.touched) {
                    <mat-error>La fecha es obligatoria</mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Página web</mat-label>
                <input matInput formControlName="website">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Empresa en la que trabaja</mat-label>
                <input matInput formControlName="company">
            </mat-form-field>

            <div>
                <div class="phone-section">
                    <p>Teléfonos</p>
                    <button mat-icon-button (click)="addPhoneNumber()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div formArrayName="phones">
                    @for (phone of phoneArray.controls; track $index) {
                        <div [formGroupName]="$index" style="display: flex; justify-content: space-between;">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Telefono {{ $index + 1 }}</mat-label>                            
                                <input matInput formControlName="phone_number">
                            </mat-form-field>
                            <button mat-icon-button (click)="removePhoneNumber($index)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    }
                  </div>
            </div>

            <button mat-stroked-button type="submit">Registrar</button>
        </form>
    </mat-card>
</div>