.contact {
    min-height: 100vh;
    display: flex;
}

.contact > * {
    margin: auto;
}

.contact-card {
    justify-content: space-between;
    width: 1380px;
    height: 540px;
    padding: 20px;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
}

.references {
    width: 50%;
    margin-left: 10px;
}

.contact-form > button {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background: #3657fb;
    color: #ffffff;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
}