<div class="contact">
    <mat-card class="contact-card" appearance="outlined">
        <mat-card-content>Registro de contactos</mat-card-content>
        <mat-divider></mat-divider>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmitContactForm()" class="contact-form">
            <div class="details">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
      
                <mat-form-field>
                    <mat-label>Notas</mat-label>
                    <input matInput formControlName="notes">
                </mat-form-field>
      
                <mat-form-field>
                    <mat-label>Fecha de cumpleaños</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthday">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (contactForm.get('birthday')?.invalid && contactForm.get('birthday')?.touched) {
                        <mat-error>La fecha es obligatoria</mat-error>
                    }
                </mat-form-field>
      
                <mat-form-field>
                    <mat-label>Página web</mat-label>
                    <input matInput formControlName="website">
                </mat-form-field>
      
                <mat-form-field>
                    <mat-label>Empresa en la que trabaja</mat-label>
                    <input matInput formControlName="company">
                </mat-form-field>
            </div>
            <div class="references">
                <div class="section">
                    <p>Teléfonos</p>
                    <button mat-icon-button type="button" (click)="addPhoneNumber()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div formArrayName="phones">
                    @for (phone of phoneArray.controls; track $index) {
                        <div [formGroupName]="$index" style="display: flex; justify-content: space-between;">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Telefono {{ $index + 1 }}</mat-label>                            
                                <input matInput formControlName="phone_number">
                            </mat-form-field>
                            <button mat-icon-button type="button" (click)="removePhoneNumber($index)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    }
                </div>

                <div class="section">
                    <p>Emails</p>
                    <button mat-icon-button type="button" (click)="addEmail()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div formArrayName="emails">
                    @for (phone of emailArray.controls; track $index) {
                        <div [formGroupName]="$index" class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Email {{ $index + 1 }}</mat-label>                            
                                <input matInput formControlName="email">
                            </mat-form-field>
                            <button mat-icon-button type="button" (click)="removeEmail($index)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    }
                </div>

                <div class="section">
                    <p>Direcciones</p>
                    <button mat-icon-button type="button" (click)="addAddress()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div formArrayName="addresses">
                    @for (phone of addressArray.controls; track $index) {
                        <div [formGroupName]="$index" class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Dirección {{ $index + 1 }}</mat-label>                            
                                <input matInput formControlName="address">
                            </mat-form-field>
                            <button mat-icon-button type="button" (click)="removeAddress($index)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    }
                </div>
            </div>

            <div class="button-container">
                <button mat-flat-button color="primary" type="submit">{{ id === null ? 'Registrar' : 'Actualizar datos'}}</button>
            </div>

        </form>
    </mat-card>
</div>