<div class="contact">
    <mat-card class="contact-card">
        <mat-card-header>
          <div mat-card-avatar class="contact-logo"></div>
          <mat-card-title>{{ detailContact.name }}</mat-card-title>
          <mat-card-subtitle>{{ detailContact.company }}</mat-card-subtitle>
        </mat-card-header>
      
        <mat-card-content>
          <p><strong>Notas: </strong> {{ detailContact.notes }}</p>
          <p><strong>Fecha de Cumpleaños: </strong> {{ detailContact.birthday }}</p>
          <p><strong>Página Web: </strong> 
            <a [href]="detailContact.website" target="_blank">{{ detailContact.website }}</a>
          </p>
          <p><strong>Teléfonos:</strong></p>
          <ul>
            @for (phone of detailContact.phones; track $index) {
              <ul>
                <li>{{ phone.phone_number }}</li>
              </ul>
            }
          </ul>
          <p><strong>Emails:</strong></p>
          <ul>
            @for (email of detailContact.emails; track $index) {
              <ul>
                <li>{{ email.email }}</li>
              </ul>
            }
          </ul>
          <p><strong>Direcciones:</strong></p>
          <ul>
            @for (address of detailContact.addresses; track $index) {
              <ul>
                <li>{{ address.address }}</li>
              </ul>
            }
          </ul>
        </mat-card-content>
    </mat-card>
</div>
  